/********************* HOME TOP SECTION *********************/
.HomeTopSection {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("https://wallpapercave.com/wp/wp5521998.jpg");
    background-repeat: no-repeat;
    background-size: 100% 640px;
}

.HomeTopSection-right {
    position: absolute;
    width: 665px;
    height: 430px;
    left: 5.6%;
    top: 10%;
    background: white;
}

.HomeTopSection-box-top {
    height: 37px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -40px;
}

.HomeTopSection-box-right,
.HomeTopSection-box-left {
    position: relative;
    height: 100%;
    width: 49.5%;
    background: #213d77;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 6px 0;
}

.HomeTopSection-box-right>img,
.HomeTopSection-box-left>img {
    position: absolute;
    height: 35px;
    width: auto;
    top: 3px;
    left: 15px;
}

.HomeTopSection-box-bottom {
    position: relative;
    text-align: center;
}

.HomeTopSection-box-bottom-up>img {
    position: absolute;
    left: 20px;
}

.HomeTopSection-box-bottom-up>span {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: #213d77;
}

/* row One */
.HomeTopSection-box-row {
    position: relative;
    width: 100%;
    top: 112px;
    display: flex;
}

.HomeTopSection-box-row>input {
    position: absolute;
    width: 341px;
    left: 30px;
    padding: 7px 7px 7px 37px;
    border: 0.7px solid rgb(159, 159, 159);
    border-radius: 5px;
    outline-color: #213d77;
}

.HomeTopSection-arrowOne {
    position: absolute;
    font-size: 11px;
    padding: 7px;
    top: 9px;
    left: 35px;
    color: #213d77;
}

.HomeTopSection-box-row>.text {
    position: absolute;
    padding: 7px;
    left: 60px;
    color: #213d77;
    transition: all 0.25s ease-in-out;
}

.HomeTopSection-box-row>.inputTwo {
    position: absolute;
    width: 233px;
    left: 400px;
    padding: 7px 7px 7px 37px;
    border: 0.7px solid rgb(159, 159, 159);
    border-radius: 5px;
    outline-color: #213d77;
}

/* row Two */
.HomeTopSection-box-row.two {
    position: relative;
    width: 100%;
    top: 155px;
    display: flex;
}

.HomeTopSection-arrowTwo {
    position: absolute;
    font-size: 15px;
    padding: 2px;
    top: 2.5px;
    left: 185px;
    padding: 4px;
    background: #213e7717;
    border-radius: 50%;
    color: #213d77;
    transform: rotate(90deg);
}

/*  row Three */
.HomeTopSection-box-row.three {
    position: relative;
    width: 100%;
    top: 185px;
    display: flex;
}

.three>input {
    position: absolute;
    width: 341px;
    left: 30px;
    padding: 7px 7px 7px 37px;
    border: 0.7px solid rgb(159, 159, 159);
    border-radius: 5px;
    outline-color: #213d77;
}

.three>.text {
    position: absolute;
    padding: 7px;
    left: 60px;
    color: #213d77;
    transition: all 0.25s ease-in-out;
}

.three>select {
    position: absolute;
    width: 233px;
    left: 400px;
    padding: 7px 7px 7px 37px;
    border: 0.7px solid rgb(159, 159, 159);
    border-radius: 5px;
    outline-color: #213d77;
}

.HomeTopSection-arrowThree {
    position: absolute;
    font-size: 13px;
    padding: 4px;
    top: 10px;
    left: 409px;
    color: #213d77;
}

/*  row Four */
.HomeTopSection-box-row.four {
    position: relative;
    width: 100%;
    top: 258px;
    display: flex;
}

.four>select {
    position: absolute;
    width: 341px;
    left: 30px;
    color: #213d77;
    padding: 7px 7px 7px 30px;
    border: 0.7px solid rgb(159, 159, 159);
    border-radius: 5px;
    outline-color: #213d77;
}

