.ForgotPassword,
.ResetPassword {
  margin: 50px 20px;
}

.ForgotPassword_form,
.ResetPassword_form {
  margin: auto;
  background: rgb(182, 182, 182);
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.ForgotPassword_form h2,
.ResetPassword_form h2 {
  font-size: 35px;
  margin-bottom: 50px;
  text-align: center;
  color: red;
}

.ForgotPassword_form > .form label {
  font-size: 20px;
  font-weight: 600;
}

.ForgotPassword_form > .form input {
  font-size: 20px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.ForgotPassword_form button {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
}

.ResetPassword_form > .form label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.ResetPassword_form > .form input {
  margin-bottom: 20px;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
}

.ResetPassword_form button {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
}
