.RegisterDonerPage {
  margin: 40px 4%;
}

.RegisterDonerPage .signup-body {
  max-width: 1100px;
  margin: auto;
  background: rgb(253, 239, 239);
  border: 1px solid rgb(255, 201, 201);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.541);
}

.signup-body .signup-heding {
  text-transform: uppercase;
  font-size: 2rem;
  color: red;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

.signup-body .signup-form {
  margin: 10px 20px;
}

.signup-form .row {
  display: flex;
  align-items: center;
}

.row > div {
  margin: 8px 1%;
}

.row .name {
  font-size: 1.1rem;
  font-weight: 500;
  width: 50%;
}

.name input {
  width: 96%;
  margin-top: 5px;
  padding: 7px;
  font-size: 1.1rem;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;
}

.row .details {
  font-size: 1.1rem;
  font-weight: 500;
  width: 33%;
}

.details input,
.details select {
  width: 93.5%;
  margin-top: 5px;
  color: rgb(100, 100, 100);
  padding: 7px;
  font-size: 1.1rem;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;
}

.signup-form .signup-btn {
  padding: 30px 0;
  width: 100%;
  text-align: center;
}

.signup-form button {
  margin: auto;
  width: 100px;
  padding: 10px 20px;
  background: red;
  opacity: 0.6;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  opacity: 1;
}

@media (max-width: 800px) {
  .signup-form .row {
    display: block;
  }

  .row .details {
    width: 100%;
  }

  .name input {
    width: 186%;
  }

  .details select {
    width: 97%;
  }
}
