.Footer {
  width: 100%;
  height: auto;
  background: rgb(34, 34, 34);
  display: flex;
}

.col-3 {
  color: floralwhite;
  font-size: 1.3rem;
  margin: 15px auto;
  padding: 0 10px;
}

.col-3 a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.col-3 a:hover {
  text-decoration: underline;
}

.link {
  font-size: 1rem;
}

/********************* Media Queries *********************/
@media (max-width: 800px) {
  .Footer {
    display: block;
  }
}
