.NearestBloodBankPage {
  margin: 30px 20px;
}

.NearestBloodBankPage .heading {
  font-size: 1.5rem;
  max-width: 1200px;
  margin: auto;
  color: rgb(179, 4, 4);
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

/******* Top Section *******/
.NearestBloodBankPage>.top-section .form {
  max-width: 1200px;
  margin: 20px auto 40px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  display: flex;
  border: none;
}

.form div {
  width: 25%;
}

.form>div select {
  font-size: 1.1rem;
  border-radius: 5px;
  width: 95%;
  padding: 5px;
  color: rgb(75, 75, 75);
  border: 1px solid rgb(199, 199, 199);
  outline-color: rgb(46, 255, 133);
}

.top-section .top-input {
  font-size: 1.1rem;
  border-radius: 5px;
  max-width: 40%;
  width: 35%;
  padding: 5px;
  color: rgb(75, 75, 75);
  border: 1px solid rgb(199, 199, 199);
  outline-color: rgb(46, 255, 133);
  margin: 0 1%;
}

.NearestBloodBankPage>.top-section .top-search-btn {
  font-size: 1.1rem;
  padding: 3px 15px 5px;
  color: white;
  opacity: 0.7;
  border: 1px solid red;
  border-radius: 5px;
  background: red;
  height: max-content;
  width: max-content;
  margin: 0 10px;
  cursor: pointer;
}

.top-section .top-search-btn:hover {
  opacity: 1;
}

/******* Bottom Section Table Options *******/
.NearestBloodBankPage .bottom-section {
  max-width: 1200px;
  margin: 20px auto;
}

.table-options {
  width: 100%;
  margin: 10px 0;
  display: flex;
}

.table-options .entry-limit {
  margin: auto;
  text-align: left;
  width: 50%;
}

.table-options .search-box {
  margin: auto;
  text-align: right;
  width: 50%;
}

/******* Bottom Section Table ******/
.bottom-section .bottom-result-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.bottom-result-table th {
  background: rgb(189, 0, 0);
}

.bottom-result-table td,
.bottom-result-table th {
  padding: 5px 10px;
  border: 1px solid rgb(197, 197, 197);
  text-align: left;
}

.bottom-result-table .name {
  min-width: 150px;
}

/********************* Media Queries *********************/
@media (max-width: 800px) {
  .NearestBloodBankPage>.top-section .form {
    display: block;
  }

  .top-section>.form div {
    margin: 0 auto 20px;
    width: 100%;
  }

  .top-section .top-input {
    max-width: 92%;
    width: 92%;
    margin-bottom: 20px;
  }

  .top-section .top-search-btn {
    margin: 20px;
  }
}

@media (max-width: 670px) {
  .table-options {
    display: block;
  }

  .table-options .entry-limit {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .table-options .search-box {
    text-align: center;
    width: 100%;
  }
}