.Root {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.Container {
  display: flex;
  width: 100%;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Slide {
  flex-shrink: 0;
  width: 100%;
  min-height: 60px;
  max-height: 400px;
}

.Btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: red;
  background: transparent;
  font-size: 3rem;
  font-weight: 600;
  border-width: 0;
  cursor: pointer;
  z-index: 10;
  width: 50px;
}

.BtnLeft {
  left: 0;
  padding: 100px 45px 100px 7%;
}

.BtnRight {
  right: 0;
  padding: 100px 10% 100px 25px;
}
